header {
	background: #8E2DE2;
	background: -webkit-gradient(to right, #4A00E0, #8E2DE2);
	background: gradient(to right, #4A00E0, #8E2DE2);
}

/* ESTILOS PARA LA TABLA */

table th {
	background-color: #377AB7 !important;
	color: white;
}

table>tbody>tr>td {
	vertical-align: middle !important;
}

.btn.group, .btn-group-vertical {
	position: absolute !important;
}